.scrollSite{
  position: relative;
  overflow: auto;
  height: 380px;
}
#header{
  text-align: center;
  margin-top: 20px;
}

#body{
  text-align: justify;
  margin-top: 30px;
}

#p1{
  text-align: justify;
  /*font-size: 22px;*/
  text-indent: 40px;
}

#p11{
  text-align: justify;
  /*font-size: 22px;*/
}

#img3{
  height: 195px;
}
#img2{
  height: 195px;
}

#img1{
  height: 195px;
}

#pb{
  text-align: center;
}

#p3{
  text-align: center;
  font-size: 20px;
}

#p4{
  text-align: center;
}

#social a{
  font-size: 1.5em;
  margin-right: 2%;
}
